<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a class="brand-link">
    <img src="{{this.baseUrl}}img/AdminLTELogo.jpg" alt="AdminLTE Logo" class="brand-image img-bordered elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">Medical Softwares</span>
  </a>
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{{this.baseUrl}}img/profile.png" class="img-circle elevation-2" alt="User Image">
      </div>

    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item menu-open">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/medicalRecords']">
            <i class="nav-icon fa fa-user-md"></i>
            <p>
              Medical Record</p>
          </a>
        </li>

      </ul>
    </nav>
  </div>
</aside>
